html,body{
	width: 100%;
	height: 100%;
	
}
main{
	background-image: url("https://ugas19.github.io/testas/images/background.png");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: 100% 100%; /* Resize the background image to cover the entire container */
}
.something{
	position: relative;
	width: 50%;
	height: 90%;
	float: left;
	
}

.frame{
	width: 100%;
	height: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
}
.contents{
	width: 90.5%;	
	height: 86%;
	background-color: rgb(255, 255, 255);
	}
.content{
	display: flex;
	width: 100%;
	height: calc(100% - 8%);	
}
.disabled{
	display: none;
}
.content_1{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column; 
	align-items: center;
	width: 40.7%;
	background-color: #f6f8fcff;
}



img{
	width:100%;
	height: 100%;
}
/* NAV BAR*/
.navbar {
	padding-bottom:0px;
	}
.bgcolor{
	background-color: rgb(255, 255, 255);
}
.navbar-nav{
	padding-left: 45px;
}
.navbar-nav a{
	text-align: center;
	margin-bottom: 0;
	margin-left: 35px;
	padding: 20px 0;
}
/*.navbar-nav a::after{
	content: "";
	display: flex;
 width: 50%;
 height: 100%;
 border-bottom: 2px solid orangered;
}*/
.navbar-nav .active .something{
	
	border-bottom: 2px solid orangered;
}
.nav_btn{
	float: right;
	margin-left: 15px;
	width: 100px;
	background-color: orangered;
	border: none;
}
.nav_btn_log{
	float: right;
	background-color: rgb(255, 255, 255);
	border: none;
}
/** CAROUSEL */

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .actived, .dot:hover {
	background-color: #717171;
  }
.w3-content{
	width: 100%;
	height: 79.3%;
	margin:0;
	padding:0;

}
.w3-section{
	width: 100%;
	height: 79.3%;
	margin:0;
	padding:0;
}
.mySlides{
	margin:0;
	padding:0;
}
.w3-animate-right{
	margin:0;
	padding:0;
}

.content_2{
	width: 59.3%;
	height: 100%;
	background-color: #004f66ff;
	padding: 0;
	margin: 0;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.gallery{
	display: flex;
}
.top_photo{
	width: auto;
	height:30%;
}
.bot_photo{
	width: 100%;
	height:30%;
	background-color: palegreen;
}
.stretch{
	width: 100%;
	height: 40%;
}
.text_box{
	position: absolute;
  top: 75%;
  right: 0;
  left: 0;
  margin: auto;
  height: 18%;
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
	display: flex;	
}

.text_box_logo{
	border-radius: 8px;
	background-color: #f6f8fcff;
	display: flex;
	justify-content: center;
	align-items: center;
width: 20%;
height: 100%;
}
.text_box_logo img{
width: 50%;
height: 60%;
}
.text_box_text{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 100%;
}
.text_box_text_center{
	width:80%;
}
.text_box_text h2{
	font-weight: bold;
	font-size: 16px;
}
.text_box_text p{
	font-size: 10px;
	color: #7c8da0ff;
}
/** THIS IS FORM FIELDS */
.reg_btn{
	background-color: orangered;
	margin-top: 20px;
	width: 300px;
	border: none;
}
.help-block{
	display: none;
}
.controls{
	
	text-align: center;
}
.input-xlarge{
	border: none;
	width: 300px;
	padding-left: 15px;
	margin:0;
	margin-bottom: 20px;
	border-radius: 0 0 4px 4px;

}
.control-label{
	display: table-cell;
    vertical-align: bottom;
	width: 300px;
	height: 25px;
	color: #7c8da0ff;
	padding: 0;
	padding-left: 15px;
	background-color: rgb(255, 255, 255);
	font-size: 9px;
	border-radius: 4px 4px 0 0;
}

.form-horizontal{
	margin-top: 20px;
}
.regform{
	margin-top: 40px;
	width: 300px;
	height: 100%;
}
.auth_title h2{
	font-weight: bold;
	font-size: 18px;
}
.auth_title p{
	color: #7c8da0ff;
	font-size: 12px;
}
.auth_nav{
	margin-top: 40px;
	padding-bottom: 15px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.123);
}
.auth_nav a{
	text-decoration: none;
	margin-right: 15px;
	color:black;
	
	padding-bottom: 17px;

	
}
.auth_nav .actives {
	border-bottom: 2px solid rgb(255, 81, 0);
  }


  .content_1 .hide{
	display:block;
}
.content_1 .hide{
	display:none;
}
	/*background-image: url("background.png");
	background-repeat: no-repeat; /* Do not repeat the image 
	background-size: cover; /* Resize the background image to cover the entire container  bootstrap grid bootsrap kitchen aid?*/

.full-width-block{
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
  justify-content: center;
  flex-direction: column;
}
.blog-block{
	display: flex;
	width: 600px;
	height: 100px;
	margin-top: 40px;
	background-color: rgb(196, 196, 196);
}
.blog-text{
	display: flex;
	flex-direction: column;
}



	@media screen and (max-height: 600px) and (min-width: 600px) {
		main{
			background-image: url("images/background.png");
			width: 100%;
			height: 250vh;
			background-repeat: no-repeat; /* Do not repeat the image */
			background-size: 100% 100%; /* Resize the background image to cover the entire container */
		}
		.content_1{
			width: 100%;
			height: 50%;
		}
		.content_2{
			height: 50%;
			width: 60%;
			margin-left: auto;
			margin-right: auto;
		}
		.content{
			display: block;
			background-color: #f6f8fcff;
		}
		.navbar-nav a{
			margin:0;
	
	
		}
		/* TExt Change*/
	
		}


	 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
	main{
		background-image: url("images/background.png");
		width: 100%;
		height: 400vw;
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: 100% 100%; /* Resize the background image to cover the entire container */
	}
	.content_1{
		width: 100%;
		height: 50%;
	}
	.content_2{
		height: 50%;
		width: 100%;
	}
	.content{
		display: block;
	}
	.navbar-nav a{
		margin:0;


	}
	/* TExt Change*/

	}
